# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# Data
data/raw/
data/processed/
data/export/
data/images/
data/vehicles.db

# Logs
*.log

# OS
.DS_Store
